<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si el archivo o carpeta existe, usarlo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Si no existe, mandarlo al wrapper inteligente
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
